/* Style cho button trong sidebar */
.sidebar-btn {
    position: relative; /* Để có thể định vị cho tooltip */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  /* Ẩn tooltip khi chưa hover */
  .tooltip {
    position: absolute;
    top: 50%;
    right: 100%; /* Đẩy sang bên phải button */
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    background-color: #fffefe;
    color: #141d23;
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.3s, visibility 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
  }
  
  /* Hiển thị tooltip khi hover */
  .sidebar-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  /* CSS cho loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  